<!-- seller-registration.component.html -->
<div class="form-container">
    <h2>Seller Registration Form</h2>
    <form (ngSubmit)="onSellerRegisterSubmit()" [formGroup]="sellerRegistrationForm">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" formControlName="firstname" />
      <div *ngIf="sellerRegistrationForm.get('firstname')?.hasError('required')" class="error-message">* Required field</div>
  
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" formControlName="lastname" />
      <div *ngIf="sellerRegistrationForm.get('lastname')?.hasError('required')" class="error-message">* Required field</div>
  
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="sellerRegistrationForm.get('email')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerRegistrationForm.get('email')?.hasError('email')" class="error-message">* Invalid email</div>
  
      <!-- Updated phone number field with validation -->
      <label for="phonenumber">Phone Number:</label>
      <input type="tel" id="phonenumber" formControlName="phonenumber" />
      <div *ngIf="sellerRegistrationForm.get('phonenumber')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerRegistrationForm.get('phonenumber')?.hasError('pattern')" class="error-message">* Invalid phone number (10 digits required)</div>
  
      <label for="gender">Gender:</label>
      <select id="gender" formControlName="gender">
        <option value="" disabled>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div *ngIf="sellerRegistrationForm.get('gender')?.hasError('required')" class="error-message">* Required field</div>
  
      <label for="createPassword">Create Password:</label>
      <input type="password" id="createPassword" formControlName="createPassword" />
      <div *ngIf="sellerRegistrationForm.get('createPassword')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerRegistrationForm.get('createPassword')?.hasError('minlength')" class="error-message">* Minimum 8 characters</div>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      <div *ngIf="sellerRegistrationForm.get('confirmPassword')?.hasError('required')" class="error-message">* Required field</div>
      <div *ngIf="sellerRegistrationForm.get('confirmPassword')?.hasError('minlength')" class="error-message">* Minimum 8 characters</div>
  
      <div class="button-container">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
  