<!-- edit-book.component.html -->
<div class="edit-book">
    <h2>Edit Books</h2>
  
    <table>
      <thead>
        <tr>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>Author Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.id }}</td>
          <td>{{ book.bookName }}</td>
          <td>{{ book.authorName }}</td>
          <td>{{ book.description }}</td>
          <td>{{ book.price | currency:'INR' }}</td>
          <td> <div *ngIf="editedImageData" class="image-preview">
            <img class="img-preview" [src]="editedImageData" alt="Selected Image" />
          </div>
          </td>         
          <td>
            <button (click)="editBookDetails(book)">Edit</button>
          <button (click)="deleteBook(book.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  

  <!-- Display book details for editing -->
  <div *ngIf="selectedBookForEdit">
    <h2>Edit Book</h2>
    <form (ngSubmit)="saveEditedBook()">
      <label for="editName">Name:</label>
      <input type="text" id="editName" name="editName" [(ngModel)]="selectedBookForEdit.bookName" required />

      <label for="editAuthor">Author:</label>
      <input type="text" id="editAuthor" name="editAuthor" [(ngModel)]="selectedBookForEdit.authorName" required />

      <label for="editDescription">Description:</label>
      <textarea id="editDescription" name="editDescription" [(ngModel)]="selectedBookForEdit.description" required></textarea>

      <label for="editPrice">Price:</label>
      <input type="number" id="editPrice" name="editPrice" [(ngModel)]="selectedBookForEdit.price" required />

      <div class="form-group">
        <label for="newImage">Upload New Image:</label>
        <input type="file" id="newImage" name="newImage" (change)="onNewFileSelected($event)" accept="image/*" />
      </div>
    
      <!-- Display the selected image (for preview, optional) -->
      <div *ngIf="editedImageData" class="image-preview">
        <img class="img-preview" [src]="editedImageData" alt="Selected Image" />
      </div>
    

      <button type="submit">Save</button>
    </form>
  </div>